@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


::-webkit-scrollbar {
    width: 8px;
    padding: 10px;
}

::-webkit-scrollbar-track {
    margin: 2px;
    background-color: #bfb78f;
}

::-webkit-scrollbar-thumb {
    background-color: #011f26;
    border-radius: 4px;
}

::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}
