.main_page {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color:cadetblue;
    overflow-x: auto;

}

.vertnavbar {
    align-items: center;
    flex-basis: 180px;
    width: 180px;
    height: 100vh;
    background-color:blue;
    flex-shrink: 0;

}

.logo {
    width: 180px;
    height: auto;
}
.logo img {
    width: 180px;
    height: auto;
}
.maincontent {
    background-color:brown;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    height: 100vh;
    min-width: 500px;
    justify-content: center;
    text-align: center;
}
.login_form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}
.login_user {
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: green;
}
.login_pass {
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login_button {
    padding: 10px;
    background-color: lightblue;
}
.signin_button {
    padding: 10px;
    background-color: lightpink
}
