body {
    margin: 0px;
}

.main_page {
    display: flex;
    flex-direction: row;
    align-items: start;
    background-color:cadetblue;
    overflow-x: auto;

}

.vertnavbar {
    align-items: center;
    flex-basis: 180px;
    width: 180px;
    height: 100vh;
    background-color:blue;
    flex-shrink: 0;

}

.logo {
    width: 180px;
    height: auto;
}
.logo img {
    width: 180px;
    height: auto;
}
.maincontent {
    background-color:brown;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    height: 100vh;
    min-width: 500px;
}

.chatbox {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100%;
    background-color: green;
}

.chatbox li {
    text-align: bottom;
    position: relative;
}
.chatinterface {
    display: flex;
    flex-direction: row;
    background-color: yellow;
    height: 75px;
}

.chatinput {
    width: 100%;
    background-color: red;
}

.chatbutton {
    background-color: orange;
    width: 100px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 180px;
    width: 180px;
    height: 100vh;
    background-color: blue;
    flex-shrink: 0;

}

.user_avatar {
    height: 150px;
    background-color: purple;
    width: 100%;

}

.logout_button {
    height: 30px;
    background-color: pink;
    width: 100%
}

.list_of_users {
    background-color: gray;
    height: 100%
}
